body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: #f4f4f4;
}
#myDiv {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}